:root {
  --heading-font-family: "Alumni Sans", sans-serif;
  --logo-color: #04a7e3;
  --secondary-color: #ddf2fa;
}

body {
  font-family: var(--heading-font-family);
}

p {
  font-size: 20px;
  line-height: 1.5;
}

img {
  border-radius: 8px;
}

.hero h1 {
  font-size: 135px;
}
.hero h2 {
  font-size: 45px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.button-contact {
  background: var(--logo-color);

  border-radius: 4px;
  color: #032f40;
  font-size: 30px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 0;
  text-align: center;
  padding: 55px 60px;
}
.project-description h2 {
  font-size: 64px;
}

.btn-app {
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  color: #04a7e3;
  font-size: 30px;
  line-height: 27px;
  padding: 15px 30px;
}

.content-container{
 text-align: center;
   line-height: 1;
}

 
 

.content-container h2 {
  font-size: 30px;

 
}
.content {
  margin: 60px;
}
.content h1 {
  margin-top: 200px;
}
.content p {
  text-align: center;
}

.btn-branding {
  background: var(--logo-color);
  border-radius: 4px;
  color: #032f40;
  font-size: 30px;
 
  padding: 15px 30px;

  width: 300px;
}

@media (max-width: 992px) {
  .hero h1 {
    font-size: 60px;
  }

  .hero h2 {
    font-size: 30px;
  }

  h2 {
    font-size: 40px;
  }
  .hero {
    padding: 80px 20px;
  }

  .content-container {
    text-align: center;
    padding: 0;
    margin-top: -100px;
  }
  .content-container h1 {
    font-size: 40px;
  }
  .content-container h2 {
    font-size: 25px;
  }

  .about-photos {
    margin: 0;
  }
}
